<template>
    <div id="edit" style="display:none">
        <input :disabled="true" type="text" id="input-edit" v-model="editValue" />
        <button @click="$emit('ubahTodo')"> Ubah </button>
        <button @click="$emit('cancelEdit')"> Batal </button>
    </div>
</template>
<script>
export default {
  name: "TodoEdit",
  props: {
    editID: Number,
    editValue: String
  },
  data(){
      return{
          dataEdit: this.editValue,
      }
  }
}
</script>