<template>
    <div id="item" style="margin-top:20px; display:flex; flex-direction:row; justify-content:center;">

        <input type="checkbox" @click="$emit('checkTodo')"> 
        <span :class="{ checked: todo.status }">
            {{ numberList }}. {{ todo.name }}
        </span>&nbsp;
        <button @click="$emit('editTodo')" > Edit </button> &nbsp;
        <button @click="$emit('removeTodo', index)"> Hapus </button>
    </div>
</template>

<script>
  export default {
    name: 'TodoItem',
    props: {
        todo: Object,
        index: Number
    },
    computed: {
        numberList: function(){
            return this.index + 1
        }
    },
  }
</script>