<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <h2>Todo List</h2>
    <input type="text" v-model="inputValue" placeholder="Tambahkan Todo">
    <button @click="addTodo()">Tambah Data</button>
     <p> {{ warning }}</p><hr><br>

    <TodoItem v-for="(item, index) in todos" 
              :key="index" 
              :todo="item" 
              :index="index" 
              v-on:checkTodo="checkTodo(item.id)"
              v-on:editTodo="editTodo(item.id, item.name)"
              v-on:removeTodo="removeTodo($event)"
    >
    </TodoItem>
    <br><hr>
    <!-- <TodoStatus :checkedStatus="this.checkedStatus()" :uncheckedStatus="this.uncheckedStatus()"> -->
    <TodoEdit v-on:cancelEdit="cancelEdit($event)" 
               :editValue="this.editValue" 
               v-on:ubahTodo="ubahTodo()">
    </TodoEdit>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TodoItem from './components/TodoItem.vue'
import TodoEdit from './components/TodoEdit.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    TodoItem,
    TodoEdit
  },
  data(){
    return{
      inputValue: '',
      editValue: '',
      editId: '',
      todos:[],
      warning: ''
    }
  },
  methods: {
    addTodo(){
      var a = this.todos.slice(-1).pop() ? this.todos.slice(-1).pop().id :0;
      this.todos.push({
        id: a+1,
        name: this.inputValue,
        status: ''
      })
      this.inputValue = ''
    },
    removeTodo(index){
                this.todos.splice(index, 1);
    },
    cancelEdit(){
       document.getElementById('edit').style.display='none'
    },
    editTodo(id, text){
        document.getElementById('edit').style.display=''
        document.getElementById('input-edit').removeAttribute("disabled")
        this.editId = id;
        this.editValue = text;
    },
    ubahTodo(dataEdit){
     // console.log(dataEdit, this.editID)
      const a = this.todos.find(todos => todos.id === this.editId)
      a.name = this.editValue
    }
  },
  watch:{
    inputValue: function(newValue, oldValue){
      if(this.inputValue.length > 10){
        this.warning = 'Maksimal 10 Karakter'
      }else{
        this.warning = ''
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
